1. What are data structures, and why are they important?
   
   data structures are frameworks provided by the language to efficiently organize, store, and manipulate data. Python comes with a rich set of built-in data structures and the ability to implement custom ones, making it a powerful tool for solving various computational problems.

   build in data structures in python:
      -  lists
      -  Tuples
      -  Sets
      -  Dictionaries
      -  Strings

2.Explain the difference between mutable and immutable data types with examples?

   Mutable datatypes:
             Objects whose values can be changed or modified after creation.
             Examples: Lists, Dictionaries, Sets
  
   Immutable datatypes:
            Objects whose values cannot be changed after creation.
            Examples: Strings, Tuples

3.What are the main differences between lists and tuples in Python?

   
Lists and tuples in Python are both used to store collections of items, but the key difference is that lists are mutable (can be changed), while tuples are immutable (cannot be changed). Lists are written with square brackets [ ], and tuples use parentheses ( ). Lists are better for situations where you need to add, remove, or modify items, while tuples are faster, use less memory, and are good for fixed data like coordinates. Tuples can also be used as keys in dictionaries because they are hashable, but lists cannot. Choose lists for flexibility and tuples for data that should stay constant

4. Describe how dictionaries store data?
   

Dictionaries in Python store data as key-value pairs in a hash table, where keys are unique and hashed to determine where their values are stored in memory. This makes accessing, adding, or updating data very fast. Keys must be immutable (like strings or numbers), but values can be any type.

5.Why might you use a set instead of a list in Python?

   use a set instead of a list in Python when you need to store unique elements and perform operations like checking membership, union, or intersection efficiently. Sets automatically eliminate duplicates and provide faster lookups due to their implementation as hash tables. However, sets are unordered, meaning they do not maintain the order of elements, so if you need to preserve the order or allow duplicates, a list would be more appropriate. Sets are ideal for cases where uniqueness and performance in operations like membership testing are important.

6. What is a string in Python, and how is it different from a list?

   A string in Python is a sequence of characters enclosed in quotes and is immutable, meaning its value cannot be changed after creation. It is mainly used for handling text. A list, on the other hand, is a mutable collection that can store various types of elements, such as numbers or strings, and allows modification (e.g., adding, removing, or changing items) after creation. The main difference is that strings are for handling text and cannot be altered, while lists can store multiple types of data and can be changed as needed.

7. How do tuples ensure data integrity in Python?

Tuples ensure data integrity in Python by being immutable, meaning once created, their elements cannot be changed. This immutability prevents modifications like additions, deletions, or updates to the tuple's contents, making them suitable for storing fixed, reliable data.

Since tuples are hashable, they can be used as keys in dictionaries or elements in sets, ensuring data remains consistent and unchanged across different uses. This characteristic helps maintain data integrity, as the data structure itself cannot be altered accidentally or intentionally

8.What is a hash table, and how does it relate to dictionaries in Python?


   
A hash table is a data structure that stores data in key-value pairs and uses a hash function to quickly find where each value is stored by calculating a unique index for each key. In Python, dictionaries are implemented using hash tables, which means when you add a key-value pair to a dictionary, the key is hashed, and the value is stored at the resulting index. This allows for fast access to values based on their keys, making dictionaries efficient for lookups and other operations.

9. Can lists contain different data types in Python?

   Yes, lists in Python can contain different data types. A single list can store items of various types, including integers, strings, floats, and even other lists or objects. This flexibility allows you to mix and match data types within the same list

10.Explain why strings are immutable in Python?

  Strings are immutable in Python because they are designed to be efficient and safe. Since strings are often used for handling text, making them immutable allows Python to optimize memory usage and performance by reusing string objects instead of creating new ones each time a string is modified. This also prevents accidental changes to string data, ensuring that the data remains consistent throughout the program.

The immutability of strings ensures that once a string is created, its content cannot be altered, which helps in maintaining data integrity and allows strings to be hashable (usable as dictionary keys or set elements). This design choice also makes strings thread-safe, as their values cannot be changed by other parts of the program while being accessed.

11.What advantages do dictionaries offer over lists for certain tasks?

  Dictionaries offer significant advantages over lists for tasks that require fast lookups, key-value pairing, and ensuring uniqueness of data. They use hash tables, allowing for O(1) average time complexity for searching by key, making them much faster for accessing or modifying values compared to lists, which require sequential searching. Dictionaries store data as unique key-value pairs, making them ideal for mapping relationships (e.g., storing a person's name and age). Additionally, dictionaries automatically prevent duplicate keys, while lists can have duplicate values. This makes dictionaries more efficient for tasks like fast updates, lookups, and ensuring unique associations.

12.Describe a scenario where using a tuple would be preferable over a list?
  
  A scenario where using a tuple would be preferable over a list is when you need to store a fixed collection of values that should not be modified, such as coordinates in a geographic system. For example, if you're storing the latitude and longitude of a specific location, you want to ensure that these values remain constant throughout the program to avoid accidental changes. Using a tuple guarantees that the data will remain unchanged because tuples are immutable, whereas lists could be modified, which could lead to errors in critical data like geographical coordinates.

13.How do sets handle duplicate values in Python?

   In Python, sets automatically remove duplicate values. When you add an element to a set, it only keeps unique elements. If you attempt to add a duplicate value, the set will ignore it and not add it again. This behavior ensures that a set contains only distinct items, making it useful for situations where you want to eliminate duplicates from a collection.

14.How does the “in” keyword work differently for lists and dictionaries?

   The "in" keyword behaves differently for lists and dictionaries in Python. For lists, it checks if a specified value exists as an element in the list, returning True if the value is found. For dictionaries, the "in" keyword checks if a key exists in the dictionary, returning True if the key is present. If you want to check for a value in a dictionary, you need to use the .values() method. Thus, the "in" keyword works by checking for elements in lists and keys in dictionaries.

15.Can you modify the elements of a tuple? Explain why or why not?

  No, you cannot modify the elements of a tuple in Python because tuples are immutable. Once a tuple is created, its contents cannot be changed—this includes adding, removing, or altering elements. The immutability of tuples ensures that their data remains constant throughout the program, making them useful for storing fixed collections of data, like coordinates or constants.

If you need a collection of data that can be modified, you should use a list instead, which is mutable and allows changes to its elements

16.What is a nested dictionary, and give an example of its use case?

   A nested dictionary is a dictionary where the values themselves are other dictionaries. This allows you to represent more complex data structures, like hierarchical relationships, by nesting dictionaries within each other. Nested dictionaries are useful when you need to store related information in a structured manner.



   example:

   A common use case for a nested dictionary is managing a student database where each student has multiple attributes, like their courses and grades.


   students = {
    "Alice": {"age": 20, "courses": {"Math": 90, "Science": 85}},
    "Bob": {"age": 22, "courses": {"Math": 80, "History": 88}},
    "Charlie": {"age": 21, "courses": {"English": 92, "History": 87}}
}

 Accessing data in a nested dictionary

print(students["Alice"]["courses"]["Math"])  


 Output: 90

17.Describe the time complexity of accessing elements in a dictionary?

   The time complexity of accessing elements in a dictionary in Python is O(1) on average, meaning it takes constant time to look up a value using its key. This is because dictionaries are implemented using hash tables, which allow Python to quickly calculate the location of a key in memory. While the average case is O(1), in rare situations (such as when many keys have the same hash value, causing collisions), the time complexity can increase to O(n), but Python’s efficient collision handling usually keeps performance close to O(1).

18. In what situations are lists preferred over dictionaries?

   Lists are preferred over dictionaries in situations where the data is ordered, where you need to store duplicate values, or where you need to perform operations that involve maintaining sequence. Lists are ideal when you want to access elements by their position (index), rather than by a unique key. They are also useful when you need to append or modify elements frequently since lists are mutable and support various methods like append(), insert(), and remove(). Lists are better suited for tasks such as iterating over a collection of values, sorting, or maintaining the order of elements, whereas dictionaries are better for tasks involving key-value mapping and fast lookups.

For example, when working with a collection of items where the order matters (e.g., a list of students in the order they joined), a list would be the preferred data structure.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?


 Dictionaries are considered unordered because the order of key-value pairs is not guaranteed, meaning the position of items in memory can change as elements are added or removed. While Python 3.7 and later versions maintain insertion order as an implementation detail, the primary focus of dictionaries is fast lookups using keys, not the order of elements. This means that when retrieving data, you use a key to access its associated value, and the order in which the items were added does not affect how the data is retrieved. The unordered nature ensures efficient access to data based on keys, not positions.

20.Explain the difference between a list and a dictionary in terms of data retrieval?

  The main difference between a list and a dictionary in terms of data retrieval lies in how the data is accessed. In a list, you retrieve data using an index, which is based on the position of elements in the list, making it ideal for ordered collections where you need to access items sequentially. In contrast, a dictionary uses a key to retrieve values, allowing for fast access to data based on unique identifiers rather than position. While lists are useful for maintaining order and accessing elements by index, dictionaries are better suited for quickly retrieving data using specific keys.

In [1]:
# 1. Write a code to create a string with your name and print it?

In [2]:
a = "My name is Alok vijai"
print(a)

My name is Alok vijai

In [3]:
# 2.Write a code to find the length of the string "Hello World"?

In [4]:
len("Hello World")

11

In [5]:
# 3.Write a code to slice the first 3 characters from the string "Python Programming"?

In [6]:
a = "Python Programming"
a[0:3]

'Pyt'

In [7]:
# 4.Write a code to convert the string "hello" to uppercase?

In [8]:
a = "hello"
a.upper()

'HELLO'

In [9]:
# 5.Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [10]:
a = "I like apple"
a.replace("apple","orange")

'I like orange'

In [12]:
# 6. Write a code to create a list with numbers 1 to 5 and print it

In [13]:
my_list = list(range(1, 6))
my_list

[1, 2, 3, 4, 5]

In [14]:
# 7.Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [15]:
a = [1,2,3,4]
a.append(10)
a

[1, 2, 3, 4, 10]

In [16]:
# 8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [17]:
b = [1,2,3,4,5]
b.remove(3)
b

[1, 2, 4, 5]

In [19]:
# 9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [20]:
my_list = ['a', 'b', 'c', 'd']
sec_ele = my_list[1]
sec_ele

'b'

In [21]:
# 10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [22]:
d = [10, 20, 30, 40, 50]
d[::-1]

[50, 40, 30, 20, 10]

In [23]:
# 11.Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [25]:
a = (10,20,30,)
print(a)

(10, 20, 30)

In [26]:
#12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [27]:
fruits = ('apple', 'banana', 'cherry')
first_element = fruits[0]
print(first_element)

apple

In [29]:
#13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [31]:
a = (1, 2, 3, 2, 4, 2)
count_2 = a.count(2)
print(count_2)

3

In [32]:
# 14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [33]:
pets = ('dog', 'cat', 'rabbit')
cat_index = pets.index('cat')
print(cat_index)

1

In [34]:
# 15.Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [36]:
fruits = ('apple', 'orange', 'banana')
'banana' in fruits

True

In [37]:
# 16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [39]:
s = {1,2,3,4,5}
s

{1, 2, 3, 4, 5}

In [41]:
# 17.Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [42]:
s = {1, 2, 3, 4}
s.add(6)
s

{1, 2, 3, 4, 6}

In [43]:
# 18.Write a code to create a tuple with the elements 10, 20, 30 and print it

In [44]:
a = (10,20,30)
print(a)

(10, 20, 30)

In [45]:
# 19.Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')

In [46]:
fruits = ('apple', 'banana', 'cherry')
first_element = fruits[0]
print(first_element)

apple

In [47]:
# 20.Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

In [49]:
a = (1, 2, 3, 2, 4, 2)
count_2 = a.count(2)
print(count_2)

3

In [50]:
# 21.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [51]:
pets = ('dog', 'cat', 'rabbit')
cat_index = pets.index('cat')
print(cat_index)

1

In [52]:
# 22.Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [53]:
fruits = ('apple', 'orange', 'banana')
'banana' in fruits

True

In [54]:
# 23.Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it

In [55]:
s = {1,2,3,4,5}
print(s)

{1, 2, 3, 4, 5}

In [56]:
# 24.Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [57]:
a = {1,2,3,4}
a.add(6)
a

{1, 2, 3, 4, 6}